:root {
  --color-cloud: rgb(209, 209, 209);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(220.55deg, #b7dcff 0%, #ffa4f6 100%);
}

.container {
  height: 400px;
  position: relative;
}

.cloud {
  position: relative;
  top: 5px;
  width: 320px;
  height: 100px;
  background-color: var(--color-cloud);
  border-radius: 100px;
  box-shadow: 8px 13px 53px -12px rgba(0, 0, 0, 0.1);
}

.cloud::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 40px;
  width: 110px;
  height: 110px;
  background-color: var(--color-cloud);
  border-radius: 50%;
  box-shadow: 90px 0 0 30px var(--color-cloud);
}

.rain {
  position: relative;
  display: flex;
  z-index: -1;
  padding: 0px 20px;
  padding-bottom: 0;
}

.rain span {
  position: relative;
  bottom: -85px;
  width: 10px;
  height: 10px;
  background-color: rgb(0, 185, 252);
  margin: 0 2px;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  animation-duration: calc(20s / var(--i));
  transform-origin: bottom;
}

.nezuko-img {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  cursor: pointer;
  border-bottom: 2px solid rgba(73, 73, 73, 0.198);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, rgba(255, 255, 255, 0.15));
  filter: drop-shadow(0 0 40px #f07be4);
  animation: jump 1s alternate infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0) scale(1);
  }

  70% {
    transform: translateY(300px) scale(0.5);
    opacity: 0.3;
  }

  100% {
    transform: translateY(300px) scale(0);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px) translateX(0px);
  }

  100% {
    transform: translateY(-20px) translateX(-5px);
  }
}
